@{
    ViewData["Title"] = "About Me";
}

@section Styles{
<link rel="stylesheet" href="/css/style.css" type="text/css">
}
@section NavieBar{
     <nav class="navbar navbar-expand-lg navbar-light bg-light "></nav>
    <script src="./js/site.js"></script>
}
@section FooterPrivacy{
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Task_Manager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}


                <div class="service-box">

                    <div class="icon-container1">
                        <a href="https://github.com/TomNguyen-FSDI/" alt="" target="_blank"> <img
                                src="/img/profile picture.jpg" alt=""></a>
                    </div>
                    <h3>
                        <a href="https://github.com/TomNguyen-FSDI/" alt="" target="_blank" class="profilename">Tom
                            Nguyen</a>
                    </h3>
                    <p>
                        &emsp;Hi, I'm Tom and I live in San Diego. I graduated from SDSU in 2018. Prior to that, I
                        served in the
                        Marine
                        Corps for five years as a cyber network operator. During the pandemic, I wanted to stay
                        productive and learn
                        how to set up the front-end as well as the back-end. I struggled learning online. So, I enrolled
                        into this
                        course thinking to myself that nothing beats taking a class on the subject. I would be able to
                        ask questions
                        and have guidance on any materials that didn't make sense to me. I am very excited to be part of
                        the course.
                        <br>
                        &emsp;I love to watch movies, TV shows, and occasionally read. Currently, I am watching <i>Parks
                            and
                            Recreation</i>, on season 3, and enjoying it with my meals. It is similar to the TV show
                        <i>The
                            Office</i>. If you do enjoy <i>The Office</i> give <i>Parks and Recreation</i> a try. It is
                        a
                        lighthearted humor from the perspective of what it would be like to work in a local government.
                        It shows the
                        daily difficulties one would encounter as a government employee. Below are examples of shows,
                        movies and books
                        that I enjoy.
                    </p>
                </div>